{% extends "base.html" %}

{% block title %}my information{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>My Information</h1>
    <div class="row">
        <div class="col-md-6">
        <form class="form-horizontal" action="." method="post">{% csrf_token %}
            <div class="row">
                <div class="col-md-4 text-right"><span><strong>User name:</strong></span></div>
                <div class="col-md-8 text-left"><span>{{ user.username }}</span></div>
            </div>
            {% for field in user_form %}           
            <div class="row">
                <div class="col-md-4 text-right"><span>{{ field.label_tag }}</span></div>
                <div class="col-md-8 text-left"><span>{{ field }}</span></div>
                {% if field.errors %}{{ field.errors }}{% endif %}
            </div>
            {% endfor %}
            {% for field in userprofile_form %}           
            <div class="row">
                <div class="col-md-4 text-right"><span>{{ field.label_tag }}</span></div>
                <div class="col-md-8 text-left"><span>{{ field }}</span></div>
                {% if field.errors %}{{ field.errors }}{% endif %}
            </div>
            {% endfor %}
            {#{ userprofile_form }#}
            {% for field in userinfo_form %}           
            <div class="row">
                <div class="col-md-4 text-right"><span>{{ field.label_tag }}</span></div>
                <div class="col-md-8 text-left"><span>{{ field }}</span></div>
                {% if field.errors %}{{ field.errors }}{% endif %}
            </div>
            {% endfor %}
            <div class="row">
                <input type="submit" class="btn btn-primary btn-lg" value="Save">
            </div>
        </form>
        </div>
        <div class="col-md-6">
            <p>picture</p>
        </div>
    </div>
</div>
{% endblock %}