        <div class="row">
            <div class="col-md-4 text-right"><span>Email:</span></div>
            <div class="col-md-8 text-left"><span>{{ user.email }}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>Birth Date:</span></div>
            <div class="col-md-8 text-left"><span>{{ userprofile.email }}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>Phone number:</span></div>
            <div class="col-md-8 text-left"><span>{{ userprofile.phone }}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>School:</span></div>
            <div class="col-md-8 text-left"><span>{{ userinfo.school }}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>Company:</span></div>
            <div class="col-md-8 text-left"><span>{{ userinfo.company }}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>Profession:</span></div>
            <div class="col-md-8 text-left"><span>{{ userinfo.profession }}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>Address:</span></div>
            <div class="col-md-8 text-left"><span>{{ userinfo.address }}</span></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><span>About Me:</span></div>
            <div class="col-md-8 text-left"><span>{{ userinfo.aboutme }}</span></div>
        </div>
    